body {
    background-color: black;

}


/*letras del card*/


.raleway1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

}

.raleway2 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }


  .raleway3 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  








/*ajuste navbar*/

.viajes {
    text-align: left;
    font-family: "Cabin";
    font-size: medium;
}

.turquesa {

    background-color: turquoise;
}
/*cambio color navbar*/
.card {
    background-color: turquoise;
    color: white;

}
/*transparente*/
.navbar {
    background-color: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(10px);
}

.mb {
    padding-top: "50px;"
}

.form {

text-align: center;
justify-content: center;

}

.container {
color: white;
}

.container h2 {
    color: white;
    font-family: "Cabin";
    size: 25px;
    }